[submodule "frontend"]
	path = frontend
	url = https://github.com/Huyhuy225/afes_FE
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/Huyhuy225/afes_BE
	branch = main
[submodule "mqtt"]
	path = mqtt
	url = https://github.com/nghitrung/mqtt
	branch = main
